In [30]:
import numpy as np 
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import yfinance as yf
from sklearn.preprocessing import MinMaxScaler

In [25]:
data = yf.download('NVDA', start='2020-01-01', end='2023-01-01')

[*********************100%***********************]  1 of 1 completed

In [26]:
data.head()

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,NVDA,NVDA,NVDA,NVDA,NVDA,NVDA
Date,,,,,,
2020-01-02 00:00:00+00:00,5.972710,5.99775,5.99775,5.91800,5.96875,237536000
2020-01-03 00:00:00+00:00,5.877112,5.90175,5.94575,5.85250,5.87750,205384000
2020-01-06 00:00:00+00:00,5.901757,5.92650,5.93175,5.78175,5.80800,262636000
2020-01-07 00:00:00+00:00,5.973209,5.99825,6.04425,5.90975,5.95500,314856000
2020-01-08 00:00:00+00:00,5.984411,6.00950,6.05100,5.95375,5.99400,277108000

In [27]:
data['SMA_10'] = data['Close'].rolling(window=10).mean()
data['SMA_20'] = data['Close'].rolling(window=20).mean()
data['EMA_10'] = data['Close'].ewm(span=10, adjust=False).mean()
data['Volatility'] = data['High'] - data['Low']
data.bfill(inplace=True)
data.ffill(inplace=True)

In [28]:
data.reset_index(inplace=True)
data.columns = data.columns.droplevel(1)
data.drop(columns='Date', inplace=True)

In [31]:
scaler = MinMaxScaler(feature_range=(0,1))

In [29]:
data.head()

Price,Adj Close,Close,High,Low,Open,Volume,SMA_10,SMA_20,EMA_10,Volatility
0,5.972710,5.99775,5.99775,5.91800,5.96875,237536000,6.0638,6.1308,5.997750,0.07975
1,5.877112,5.90175,5.94575,5.85250,5.87750,205384000,6.0638,6.1308,5.980295,0.09325
2,5.901757,5.92650,5.93175,5.78175,5.80800,262636000,6.0638,6.1308,5.970514,0.15000
3,5.973209,5.99825,6.04425,5.90975,5.95500,314856000,6.0638,6.1308,5.975557,0.13450
4,5.984411,6.00950,6.05100,5.95375,5.99400,277108000,6.0638,6.1308,5.981729,0.09725