In [192]:
import torch
import numpy as np
import yfinance as yf
import statsmodels as sm
import pandas as pd
from pytorch_forecasting import TimeSeriesDataSet
from torch.utils.data import random_split
from statsmodels.tsa.stattools import adfuller
import pytorch_lightning as pl 
from arch import arch_model
from torch.utils.data import DataLoader

In [193]:
tickers = ['^GSPC', '^DJI', 'NQ=F', 'EURUSD=X', 'GC=F']
data = yf.download(tickers, start="2015-01-01", end="2025-01-01", group_by='ticker')

[*********************100%***********************]  5 of 5 completed

In [194]:
closing_price = pd.DataFrame()

In [195]:
for ticker in tickers:
    closing_price[ticker] = data[ticker]['Close']

In [196]:
closing_price

                  ^GSPC          ^DJI      NQ=F  EURUSD=X         GC=F
Date
2015-01-01          NaN           NaN       NaN  1.209863          NaN
2015-01-02  2058.199951  17832.990234   4214.25  1.208941  1186.000000
2015-01-05  2020.579956  17501.650391   4161.75  1.194643  1203.900024
2015-01-06  2002.609985  17371.640625   4102.25  1.193902  1219.300049
2015-01-07  2025.900024  17584.519531   4151.50  1.187536  1210.599976
...                 ...           ...       ...       ...          ...
2024-12-25          NaN           NaN       NaN  1.040258          NaN
2024-12-26  6037.589844  43325.800781  22008.00  1.039955  2638.800049
2024-12-27  5970.839844  42992.210938  21698.50  1.042318  2617.199951
2024-12-30  5906.939941  42573.730469  21416.25  1.042938  2606.100098
2024-12-31  5881.629883  42544.218750  21226.50  1.040615  2629.199951

[2609 rows x 5 columns]

In [197]:
closing_price.dropna(inplace=True)

In [198]:
log_returns = np.log(closing_price/closing_price.shift(-1))

In [199]:
log_returns.dropna(inplace=True)

In [200]:
log_returns

               ^GSPC      ^DJI      NQ=F  EURUSD=X      GC=F
Date
2015-01-02  0.018447  0.018755  0.012536  0.011897 -0.014980
2015-01-05  0.008933  0.007456  0.014400  0.000621 -0.012711
2015-01-06 -0.011563 -0.012180 -0.011934  0.005346  0.007161
2015-01-07 -0.017730 -0.018221 -0.019264  0.003320  0.001819
2015-01-08  0.008439  0.009567  0.007471  0.003379 -0.006270
...              ...       ...       ...       ...       ...
2024-12-23 -0.010982 -0.009050 -0.012574  0.002615 -0.002943
2024-12-24  0.000406 -0.000664  0.000931  0.000603 -0.007150
2024-12-26  0.011117  0.007729  0.014163 -0.002270  0.008219
2024-12-27  0.010760  0.009782  0.013093 -0.000594  0.004250
2024-12-30  0.004294  0.000693  0.008900  0.002229 -0.008825

[2509 rows x 5 columns]

In [201]:
def getVariance(windowsize):
    volatility = ((log_returns**2).rolling(windowsize).sum())
    return volatility

In [202]:
volatility = getVariance(5)

In [203]:
volatility

               ^GSPC      ^DJI      NQ=F  EURUSD=X      GC=F
Date
2015-01-02       NaN       NaN       NaN       NaN       NaN
2015-01-05       NaN       NaN       NaN       NaN       NaN
2015-01-06       NaN       NaN       NaN       NaN       NaN
2015-01-07       NaN       NaN       NaN       NaN       NaN
2015-01-08  0.000939  0.000979  0.000934  0.000193  0.000480
...              ...       ...       ...       ...       ...
2024-12-23  0.001187  0.000907  0.003024  0.000249  0.000539
2024-12-24  0.000291  0.000222  0.001668  0.000245  0.000582
2024-12-26  0.000414  0.000281  0.001844  0.000057  0.000362
2024-12-27  0.000413  0.000240  0.001954  0.000056  0.000185
2024-12-30  0.000379  0.000238  0.000610  0.000018  0.000223

[2509 rows x 5 columns]

In [204]:
data = []
for i, ticker in enumerate(tickers):
    temp_df = pd.DataFrame({
        "time_idx": np.arange(len(log_returns)),  
        "group": i,  
        "log_returns": log_returns[ticker].values,  
        "volatility": volatility[ticker].values,  
    })
    data.append(temp_df)


data = pd.concat(data)

In [205]:
data.fillna(0,inplace=True)

In [206]:
data.isnull().sum()

time_idx       0
group          0
log_returns    0
volatility     0
dtype: int64

In [207]:
data = data.reset_index(drop=True)

In [208]:
data['log_returns'] = data['log_returns'] * 100
data['volatility'] = data['volatility'] * 100

In [209]:
data

       time_idx  group  log_returns  volatility
0             0      0     1.844721    0.000000
1             1      0     0.893325    0.000000
2             2      0    -1.156274    0.000000
3             3      0    -1.773017    0.000000
4             4      0     0.843932    0.093938
...         ...    ...          ...         ...
12540      2504      4    -0.294324    0.053944
12541      2505      4    -0.714997    0.058161
12542      2506      4     0.821926    0.036202
12543      2507      4     0.425014    0.018457
12544      2508      4    -0.882471    0.022328

[12545 rows x 4 columns]

In [210]:
data_len =data.time_idx.max()

In [211]:
unique_groups = data['group'].unique()

In [212]:
group_training_datasets = {}
group_validation_datasets = {}
group_testing_datasets = {}

In [213]:
for group  in unique_groups: 
    group_train_data = data[(data['time_idx']<=data_len *0.8) & (data['group'] ==group)]
    group_test_data = data[(data['time_idx'] > data_len*0.8) & (data['time_idx'] <= data_len*0.9) & (data['group'] == group)]
    group_val_data = data[(data['time_idx']>data_len *0.9) & (data['group'] ==group)]

    training_dataset = TimeSeriesDataSet(
        group_train_data,
        group_ids=["group"],  
        target="volatility",   
        time_idx="time_idx",  
        max_encoder_length=5,  
        max_prediction_length=1,  
        time_varying_known_reals=["log_returns"], 
        time_varying_unknown_reals=["volatility"],
        target_normalizer=None,
    )

    test_dataset = TimeSeriesDataSet(
        group_test_data,
        group_ids=["group"],  
        target="volatility",   
        time_idx="time_idx",  
        max_encoder_length=5,  
        max_prediction_length=1,  
        time_varying_known_reals=["log_returns"], 
        time_varying_unknown_reals=["volatility"],
        target_normalizer=None,
    )

    val_dataset = TimeSeriesDataSet(
        group_train_data,
        group_ids=["group"],  
        target="volatility",   
        time_idx="time_idx",  
        max_encoder_length=5,  
        max_prediction_length=1,  
        time_varying_known_reals=["log_returns"], 
        time_varying_unknown_reals=["volatility"],
        target_normalizer=None,
    )

    group_training_datasets[group] = training_dataset
    group_testing_datasets[group] = test_dataset
    group_validation_datasets[group] = val_dataset

In [214]:
group_training_datasets[3]

TimeSeriesDataSet[length=2002](
	time_idx='time_idx',
	target='volatility',
	group_ids=['group'],
	weight=None,
	max_encoder_length=5,
	min_encoder_length=5,
	min_prediction_idx=0,
	min_prediction_length=1,
	max_prediction_length=1,
	static_categoricals=[],
	static_reals=[],
	time_varying_known_categoricals=[],
	time_varying_known_reals=['log_returns'],
	time_varying_unknown_categoricals=[],
	time_varying_unknown_reals=['volatility'],
	variable_groups={},
	constant_fill_strategy={},
	allow_missing_timesteps=False,
	lags={},
	add_relative_time_idx=False,
	add_target_scales=False,
	add_encoder_length=False,
	target_normalizer=TorchNormalizer(method='identity', center=True, transformation=None, method_kwargs={}),
	categorical_encoders={'__group_id__group': NaNLabelEncoder(add_nan=False, warn=True)},
	scalers={'log_returns': StandardScaler()},
	randomize_length=None,
	predict_mode=False
)

In [215]:
summary_statistics = []

for group, group_data in data.groupby('group'):
    group_length = group_data['log_returns'].count()
    mean_volatility = group_data['log_returns'].mean()
    sd_volatility = group_data['log_returns'].std()

    adf_res = adfuller(group_data['log_returns'].dropna())
    adf_statistic = adf_res[0]
    adf_pvalue = adf_res[1]

    summary_statistics.append({
        'Ticker': tickers[group],
        'Length': group_length,
        'Mean': mean_volatility,
        'SD': sd_volatility,
        'ADF': adf_statistic,
        'p-value': adf_pvalue
    })

summary_statisticsdf = pd.DataFrame(summary_statistics)

In [216]:
summary_statisticsdf

     Ticker  Length      Mean        SD        ADF       p-value
0     ^GSPC    2509 -0.041849  1.128400 -15.694171  1.421814e-28
1      ^DJI    2509 -0.034655  1.110641 -15.728378  1.298412e-28
2      NQ=F    2509 -0.064439  1.382714 -16.349450  2.942271e-29
3  EURUSD=X    2509  0.005976  0.507394 -21.836893  0.000000e+00
4      GC=F    2509 -0.031730  0.925881 -51.323933  0.000000e+00

In [217]:
# ADF statistic << p-value -> time series are non-stationary

In [218]:
from torch.utils.data import DataLoader

# Словари для хранения DataLoader
group_train_dataloaders = {}
group_test_dataloaders = {}
group_val_dataloaders = {}

for group in unique_groups:
    # Создание DataLoader для тренировочного набора
    group_train_dataloaders[group] = group_training_datasets[group].to_dataloader(batch_size=32, shuffle=False)
    
    # Создание DataLoader для тестового набора
    group_test_dataloaders[group] = group_testing_datasets[group].to_dataloader(batch_size=32, shuffle=False)
    
    # Создание DataLoader для валидационного набора
    group_val_dataloaders[group] = group_validation_datasets[group].to_dataloader(batch_size=32, shuffle=False)

In [219]:
# and load the first batch
x, y = next(iter(group_train_dataloaders[0]))
print("x =", x)
print("\ny =", y)
print("\nsizes of x =")
for key, value in x.items():
    print(f"\t{key} = {value.size()}")

x = {'encoder_cat': tensor([], size=(32, 5, 0), dtype=torch.int64), 'encoder_cont': tensor([[[ 1.5704,  0.0000],
         [ 0.7739,  0.0000],
         [-0.9420,  0.0000],
         [-1.4584,  0.0000],
         [ 0.7326,  0.0939]],

        [[ 0.7739,  0.0000],
         [-0.9420,  0.0000],
         [-1.4584,  0.0000],
         [ 0.7326,  0.0939],
         [ 0.7064,  0.0665]],

        [[-0.9420,  0.0000],
         [-1.4584,  0.0000],
         [ 0.7326,  0.0939],
         [ 0.7064,  0.0665],
         [ 0.2422,  0.0592]],

        [[-1.4584,  0.0000],
         [ 0.7326,  0.0939],
         [ 0.7064,  0.0665],
         [ 0.2422,  0.0592],
         [ 0.5141,  0.0492]],

        [[ 0.7326,  0.0939],
         [ 0.7064,  0.0665],
         [ 0.2422,  0.0592],
         [ 0.5141,  0.0492],
         [ 0.8039,  0.0264]],

        [[ 0.7064,  0.0665],
         [ 0.2422,  0.0592],
         [ 0.5141,  0.0492],
         [ 0.8039,  0.0264],
         [-1.0904,  0.0371]],

        [[ 0.2422,  0.0592],
         [ 0.5141,  0.0492],
         [ 0.8039,  0.0264],
         [-1.0904,  0.0371],
         [-0.1037,  0.0307]],

        [[ 0.5141,  0.0492],
         [ 0.8039,  0.0264],
         [-1.0904,  0.0371],
         [-0.1037,  0.0307],
         [-0.3692,  0.0323]],

        [[ 0.8039,  0.0264],
         [-1.0904,  0.0371],
         [-0.1037,  0.0307],
         [-0.3692,  0.0323],
         [-1.2427,  0.0518]],

        [[-1.0904,  0.0371],
         [-0.1037,  0.0307],
         [-0.3692,  0.0323],
         [-1.2427,  0.0518],
         [ 0.4870,  0.0462]],

        [[-0.1037,  0.0307],
         [-0.3692,  0.0323],
         [-1.2427,  0.0518],
         [ 0.4870,  0.0462],
         [-0.1888,  0.0291]],

        [[-0.3692,  0.0323],
         [-1.2427,  0.0518],
         [ 0.4870,  0.0462],
         [-0.1888,  0.0291],
         [ 1.1544,  0.0471]],

        [[-1.2427,  0.0518],
         [ 0.4870,  0.0462],
         [-0.1888,  0.0291],
         [ 1.1544,  0.0471],
         [ 1.1636,  0.0633]],

        [[ 0.4870,  0.0462],
         [-0.1888,  0.0291],
         [ 1.1544,  0.0471],
         [ 1.1636,  0.0633],
         [-0.7685,  0.0493]],

        [[-0.1888,  0.0291],
         [ 1.1544,  0.0471],
         [ 1.1636,  0.0633],
         [-0.7685,  0.0493],
         [ 1.1208,  0.0634]],

        [[ 1.1544,  0.0471],
         [ 1.1636,  0.0633],
         [-0.7685,  0.0493],
         [ 1.1208,  0.0634],
         [-1.0523,  0.0793]],

        [[ 1.1636,  0.0633],
         [-0.7685,  0.0493],
         [ 1.1208,  0.0634],
         [-1.0523,  0.0793],
         [-1.1742,  0.0817]],

        [[-0.7685,  0.0493],
         [ 1.1208,  0.0634],
         [-1.0523,  0.0793],
         [-1.1742,  0.0817],
         [ 0.3747,  0.0650]],

        [[ 1.1208,  0.0634],
         [-1.0523,  0.0793],
         [-1.1742,  0.0817],
         [ 0.3747,  0.0650],
         [-0.8312,  0.0665]],

        [[-1.0523,  0.0793],
         [-1.1742,  0.0817],
         [ 0.3747,  0.0650],
         [-0.8312,  0.0665],
         [ 0.3127,  0.0505]],

        [[-1.1742,  0.0817],
         [ 0.3747,  0.0650],
         [-0.8312,  0.0665],
         [ 0.3127,  0.0505],
         [ 0.3823,  0.0358]],

        [[ 0.3747,  0.0650],
         [-0.8312,  0.0665],
         [ 0.3127,  0.0505],
         [ 0.3823,  0.0358],
         [-0.8630,  0.0265]],

        [[-0.8312,  0.0665],
         [ 0.3127,  0.0505],
         [ 0.3823,  0.0358],
         [-0.8630,  0.0265],
         [ 0.0284,  0.0247]],

        [[ 0.3127,  0.0505],
         [ 0.3823,  0.0358],
         [-0.8630,  0.0265],
         [ 0.0284,  0.0247],
         [-0.7776,  0.0235]],

        [[ 0.3823,  0.0358],
         [-0.8630,  0.0265],
         [ 0.0284,  0.0247],
         [-0.7776,  0.0235],
         [-0.3144,  0.0240]],

        [[-0.8630,  0.0265],
         [ 0.0284,  0.0247],
         [-0.7776,  0.0235],
         [-0.3144,  0.0240],
         [-0.1076,  0.0224]],

        [[ 0.0284,  0.0247],
         [-0.7776,  0.0235],
         [-0.3144,  0.0240],
         [-0.1076,  0.0224],
         [ 0.0523,  0.0111]],

        [[-0.7776,  0.0235],
         [-0.3144,  0.0240],
         [-0.1076,  0.0224],
         [ 0.0523,  0.0111],
         [ 0.1150,  0.0112]],

        [[-0.3144,  0.0240],
         [-0.1076,  0.0224],
         [ 0.0523,  0.0111],
         [ 0.1150,  0.0112],
         [-0.4853,  0.0058]],

        [[-0.1076,  0.0224],
         [ 0.0523,  0.0111],
         [ 0.1150,  0.0112],
         [-0.4853,  0.0058],
         [ 0.0514,  0.0041]],

        [[ 0.0523,  0.0111],
         [ 0.1150,  0.0112],
         [-0.4853,  0.0058],
         [ 0.0514,  0.0041],
         [-0.2046,  0.0046]],

        [[ 0.1150,  0.0112],
         [-0.4853,  0.0058],
         [ 0.0514,  0.0041],
         [-0.2046,  0.0046],
         [ 0.0901,  0.0047]]]), 'encoder_target': tensor([[0.0000, 0.0000, 0.0000, 0.0000, 0.0939],
        [0.0000, 0.0000, 0.0000, 0.0939, 0.0665],
        [0.0000, 0.0000, 0.0939, 0.0665, 0.0592],
        [0.0000, 0.0939, 0.0665, 0.0592, 0.0492],
        [0.0939, 0.0665, 0.0592, 0.0492, 0.0264],
        [0.0665, 0.0592, 0.0492, 0.0264, 0.0371],
        [0.0592, 0.0492, 0.0264, 0.0371, 0.0307],
        [0.0492, 0.0264, 0.0371, 0.0307, 0.0323],
        [0.0264, 0.0371, 0.0307, 0.0323, 0.0518],
        [0.0371, 0.0307, 0.0323, 0.0518, 0.0462],
        [0.0307, 0.0323, 0.0518, 0.0462, 0.0291],
        [0.0323, 0.0518, 0.0462, 0.0291, 0.0471],
        [0.0518, 0.0462, 0.0291, 0.0471, 0.0633],
        [0.0462, 0.0291, 0.0471, 0.0633, 0.0493],
        [0.0291, 0.0471, 0.0633, 0.0493, 0.0634],
        [0.0471, 0.0633, 0.0493, 0.0634, 0.0793],
        [0.0633, 0.0493, 0.0634, 0.0793, 0.0817],
        [0.0493, 0.0634, 0.0793, 0.0817, 0.0650],
        [0.0634, 0.0793, 0.0817, 0.0650, 0.0665],
        [0.0793, 0.0817, 0.0650, 0.0665, 0.0505],
        [0.0817, 0.0650, 0.0665, 0.0505, 0.0358],
        [0.0650, 0.0665, 0.0505, 0.0358, 0.0265],
        [0.0665, 0.0505, 0.0358, 0.0265, 0.0247],
        [0.0505, 0.0358, 0.0265, 0.0247, 0.0235],
        [0.0358, 0.0265, 0.0247, 0.0235, 0.0240],
        [0.0265, 0.0247, 0.0235, 0.0240, 0.0224],
        [0.0247, 0.0235, 0.0240, 0.0224, 0.0111],
        [0.0235, 0.0240, 0.0224, 0.0111, 0.0112],
        [0.0240, 0.0224, 0.0111, 0.0112, 0.0058],
        [0.0224, 0.0111, 0.0112, 0.0058, 0.0041],
        [0.0111, 0.0112, 0.0058, 0.0041, 0.0046],
        [0.0112, 0.0058, 0.0041, 0.0046, 0.0047]]), 'encoder_lengths': tensor([5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
        5, 5, 5, 5, 5, 5, 5, 5]), 'decoder_cat': tensor([], size=(32, 1, 0), dtype=torch.int64), 'decoder_cont': tensor([[[ 0.7064,  0.0665]],

        [[ 0.2422,  0.0592]],

        [[ 0.5141,  0.0492]],

        [[ 0.8039,  0.0264]],

        [[-1.0904,  0.0371]],

        [[-0.1037,  0.0307]],

        [[-0.3692,  0.0323]],

        [[-1.2427,  0.0518]],

        [[ 0.4870,  0.0462]],

        [[-0.1888,  0.0291]],

        [[ 1.1544,  0.0471]],

        [[ 1.1636,  0.0633]],

        [[-0.7685,  0.0493]],

        [[ 1.1208,  0.0634]],

        [[-1.0523,  0.0793]],

        [[-1.1742,  0.0817]],

        [[ 0.3747,  0.0650]],

        [[-0.8312,  0.0665]],

        [[ 0.3127,  0.0505]],

        [[ 0.3823,  0.0358]],

        [[-0.8630,  0.0265]],

        [[ 0.0284,  0.0247]],

        [[-0.7776,  0.0235]],

        [[-0.3144,  0.0240]],

        [[-0.1076,  0.0224]],

        [[ 0.0523,  0.0111]],

        [[ 0.1150,  0.0112]],

        [[-0.4853,  0.0058]],

        [[ 0.0514,  0.0041]],

        [[-0.2046,  0.0046]],

        [[ 0.0901,  0.0047]],

        [[ 0.1497,  0.0048]]]), 'decoder_target': tensor([[0.0665],
        [0.0592],
        [0.0492],
        [0.0264],
        [0.0371],
        [0.0307],
        [0.0323],
        [0.0518],
        [0.0462],
        [0.0291],
        [0.0471],
        [0.0633],
        [0.0493],
        [0.0634],
        [0.0793],
        [0.0817],
        [0.0650],
        [0.0665],
        [0.0505],
        [0.0358],
        [0.0265],
        [0.0247],
        [0.0235],
        [0.0240],
        [0.0224],
        [0.0111],
        [0.0112],
        [0.0058],
        [0.0041],
        [0.0046],
        [0.0047],
        [0.0048]]), 'decoder_lengths': tensor([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1]), 'decoder_time_idx': tensor([[ 5],
        [ 6],
        [ 7],
        [ 8],
        [ 9],
        [10],
        [11],
        [12],
        [13],
        [14],
        [15],
        [16],
        [17],
        [18],
        [19],
        [20],
        [21],
        [22],
        [23],
        [24],
        [25],
        [26],
        [27],
        [28],
        [29],
        [30],
        [31],
        [32],
        [33],
        [34],
        [35],
        [36]]), 'groups': tensor([[0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0]]), 'target_scale': tensor([[0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.]])}

y = (tensor([[0.0665],
        [0.0592],
        [0.0492],
        [0.0264],
        [0.0371],
        [0.0307],
        [0.0323],
        [0.0518],
        [0.0462],
        [0.0291],
        [0.0471],
        [0.0633],
        [0.0493],
        [0.0634],
        [0.0793],
        [0.0817],
        [0.0650],
        [0.0665],
        [0.0505],
        [0.0358],
        [0.0265],
        [0.0247],
        [0.0235],
        [0.0240],
        [0.0224],
        [0.0111],
        [0.0112],
        [0.0058],
        [0.0041],
        [0.0046],
        [0.0047],
        [0.0048]]), None)

sizes of x =
	encoder_cat = torch.Size([32, 5, 0])
	encoder_cont = torch.Size([32, 5, 2])
	encoder_target = torch.Size([32, 5])
	encoder_lengths = torch.Size([32])
	decoder_cat = torch.Size([32, 1, 0])
	decoder_cont = torch.Size([32, 1, 2])
	decoder_target = torch.Size([32, 1])
	decoder_lengths = torch.Size([32])
	decoder_time_idx = torch.Size([32, 1])
	groups = torch.Size([32, 1])
	target_scale = torch.Size([32, 2])

In [ ]:
from arch import arch_model

# Словарь для хранения обученных GARCH моделей
garch_models = {}

for group, dataloader in group_train_dataloaders.items():
    # Извлекаем данные для текущей группы
    for batch in dataloader:

        x, y = batch
        log_returns = x['encoder_cont'][:, :, 0].numpy()
        volatility = x['encoder_cont'][:, :, 1].numpy()
        log_returns = log_returns.flatten()
        volatility = volatility.flatten()
        # Обучаем GARCH(1,1) модель
        garch_model = arch_model(x=log_returns, y=volatility, vol='Garch', p=1, q=1, mean='Zero', rescale=False)
        garch_fitted = garch_model.fit(disp='off')
        
        # Сохраняем обученную модель
        garch_models[group] = garch_fitted
        
        # Выводим результаты
        print(f"GARCH(1,1) parameters for group {group}:")
        print(garch_fitted.params)
      # Обучаем только на первом батче для примера

GARCH(1,1) parameters for group 0:
omega       0.000044
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000024
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000015
alpha[1]    0.285571
beta[1]     0.683748
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000010
alpha[1]    0.196981
beta[1]     0.803019
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000152
alpha[1]    0.422879
beta[1]     0.562693
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000169
alpha[1]    0.211133
beta[1]     0.743529
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000039
alpha[1]    0.279937
beta[1]     0.687556
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000061
alpha[1]    0.418294
beta[1]     0.581706
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000137
alpha[1]    0.232148
beta[1]     0.745061
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000024
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.00001
alpha[1]    0.20000
beta[1]     0.78000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.00016
alpha[1]    0.20000
beta[1]     0.78000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       8.820324e-07
alpha[1]    2.000000e-01
beta[1]     7.800000e-01
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000052
alpha[1]    0.325815
beta[1]     0.614108
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000010
alpha[1]    0.248252
beta[1]     0.693400
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000003
alpha[1]    0.204312
beta[1]     0.753634
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000013
alpha[1]    0.200000
beta[1]     0.700000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000003
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000006
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000003
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000006
alpha[1]    0.293436
beta[1]     0.677604
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       5.597154e-07
alpha[1]    2.620000e-01
beta[1]     7.318000e-01
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000001
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000006
alpha[1]    0.280000
beta[1]     0.702001
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000423
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000007
alpha[1]    0.276766
beta[1]     0.719331
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.00001
alpha[1]    0.20000
beta[1]     0.78000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000015
alpha[1]    0.377277
beta[1]     0.600747
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000002
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000146
alpha[1]    0.335653
beta[1]     0.650238
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000163
alpha[1]    0.237447
beta[1]     0.757221
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000043
alpha[1]    0.313580
beta[1]     0.662776
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000012
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000012
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000041
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000073
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000095
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000027
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000003
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000022
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.001130
alpha[1]    0.487571
beta[1]     0.512429
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000575
alpha[1]    0.211062
beta[1]     0.754573
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000379
alpha[1]    0.345684
beta[1]     0.654316
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000029
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000257
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000202
alpha[1]    0.304732
beta[1]     0.675601
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000014
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000068
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000092
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000035
alpha[1]    0.193867
beta[1]     0.756083
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000008
alpha[1]    0.290852
beta[1]     0.683242
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000015
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000031
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.00004
alpha[1]    0.20000
beta[1]     0.70000
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000104
alpha[1]    0.279281
beta[1]     0.692717
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000109
alpha[1]    0.220079
beta[1]     0.778697
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000024
alpha[1]    0.208886
beta[1]     0.777746
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000235
alpha[1]    0.265997
beta[1]     0.734003
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000102
alpha[1]    0.335381
beta[1]     0.664619
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000111
alpha[1]    0.269075
beta[1]     0.730925
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000859
alpha[1]    0.286916
beta[1]     0.688162
Name: params, dtype: float64
GARCH(1,1) parameters for group 0:
omega       0.000208
alpha[1]    0.379345
beta[1]     0.620655
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000052
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000038
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000019
alpha[1]    0.324044
beta[1]     0.650636
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000010
alpha[1]    0.192632
beta[1]     0.807368
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000128
alpha[1]    0.430308
beta[1]     0.555450
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000122
alpha[1]    0.186162
beta[1]     0.768116
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000024
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000075
alpha[1]    0.355756
beta[1]     0.628138
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000137
alpha[1]    0.253148
beta[1]     0.725053
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000014
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000012
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000118
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000001
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000025
alpha[1]    0.190441
beta[1]     0.742721
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000015
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000003
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000017
alpha[1]    0.200000
beta[1]     0.700000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000003
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000007
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000001
alpha[1]    0.197444
beta[1]     0.770033
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000003
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000001
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000004
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000006
alpha[1]    0.390695
beta[1]     0.594221
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000038
alpha[1]    0.289425
beta[1]     0.699407
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000023
alpha[1]    0.254463
beta[1]     0.734342
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000016
alpha[1]    0.227252
beta[1]     0.752180
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000009
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000005
alpha[1]    0.193509
beta[1]     0.754686
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000149
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000232
alpha[1]    0.219559
beta[1]     0.768551
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000056
alpha[1]    0.336746
beta[1]     0.636203
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000013
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000012
alpha[1]    0.195924
beta[1]     0.764104
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000041
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.00006
alpha[1]    0.20000
beta[1]     0.78000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000078
alpha[1]    0.223257
beta[1]     0.717720
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000018
alpha[1]    0.262000
beta[1]     0.731800
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000004
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000032
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.006500
alpha[1]    0.557520
beta[1]     0.429419
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000649
alpha[1]    0.250504
beta[1]     0.719338
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.001020
alpha[1]    0.361808
beta[1]     0.638192
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000027
alpha[1]    0.246859
beta[1]     0.728550
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000166
alpha[1]    0.394679
beta[1]     0.550235
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000225
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000018
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000041
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000050
alpha[1]    0.192083
beta[1]     0.749123
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000027
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000015
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000024
alpha[1]    0.190382
beta[1]     0.742491
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000032
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000013
alpha[1]    0.368452
beta[1]     0.631548
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000066
alpha[1]    0.251452
beta[1]     0.692202
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000042
alpha[1]    0.289818
beta[1]     0.710182
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000105
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000191
alpha[1]    0.273298
beta[1]     0.726702
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000104
alpha[1]    0.351241
beta[1]     0.648759
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000045
alpha[1]    0.256672
beta[1]     0.743328
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000686
alpha[1]    0.257337
beta[1]     0.701850
Name: params, dtype: float64
GARCH(1,1) parameters for group 1:
omega       0.000053
alpha[1]    0.399843
beta[1]     0.600157
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000065
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000029
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000038
alpha[1]    0.246858
beta[1]     0.723907
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000020
alpha[1]    0.176093
beta[1]     0.823907
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000464
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000141
alpha[1]    0.250945
beta[1]     0.708615
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000091
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000086
alpha[1]    0.360444
beta[1]     0.639556
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000391
alpha[1]    0.178282
beta[1]     0.793092
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000054
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000008
alpha[1]    0.273140
beta[1]     0.726860
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000348
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000002
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000056
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000043
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000011
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000011
alpha[1]    0.200000
beta[1]     0.700000
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000002
alpha[1]    0.315994
beta[1]     0.671656
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000025
alpha[1]    0.199633
beta[1]     0.776382
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000056
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000030
alpha[1]    0.194680
beta[1]     0.759254
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000005
alpha[1]    0.349684
beta[1]     0.650316
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000016
alpha[1]    0.205298
beta[1]     0.736516
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000037
alpha[1]    0.225393
beta[1]     0.755241
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000049
alpha[1]    0.251936
beta[1]     0.729510
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000300
alpha[1]    0.334344
beta[1]     0.654606
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000018
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000138
alpha[1]    0.266871
beta[1]     0.687625
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000013
alpha[1]    0.200000
beta[1]     0.780000
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000033
alpha[1]    0.319556
beta[1]     0.680445
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.002227
alpha[1]    0.187194
beta[1]     0.740879
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000194
alpha[1]    0.271661
beta[1]     0.706128
Name: params, dtype: float64
GARCH(1,1) parameters for group 2:
omega       0.000021
alpha[1]    0.363780
beta[1]     0.622815
Name: params, dtype: float64
GARCH(1,1) parameters for group 2: