In [44]:
import numpy as np 
import torch 
import garch_framework as frame
from garch_framework.layers.losses import CorrectedNLoss
from garch_framework.utils.helpers import generate_ground_data, save_model_params
from garch_framework.utils.datasets import LSTMGARCHDataset
from garch_framework.models import GARCHLSTM, GJRGARCHModel
import matplotlib.pyplot as plt 
from torch.utils.data import DataLoader
from tqdm.notebook import tqdm
from torch.utils.data import Dataset
from arch import arch_model
import torch
import torch.nn as nn
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.preprocessing import MinMaxScaler
import yfinance as yf
import pandas as pd
from curl_cffi import requests

In [45]:
tickers = {
    "S&P 500": "^GSPC",
    "DJI": "^DJI",
    "NASDAQ": "^IXIC",
    "EUR-USD": "EURUSD=X",
    "Gold": "GC=F"
}

In [46]:
session = requests.Session(impersonate="chrome")

In [47]:
data = yf.download(tickers['S&P 500'], period= '10y', session=session)

[*********************100%***********************]  1 of 1 completed

In [48]:
data.head()

Price             Close         High          Low         Open      Volume
Ticker            ^GSPC        ^GSPC        ^GSPC        ^GSPC       ^GSPC
Date
2015-05-08  2116.100098  2117.659912  2092.129883  2092.129883  3399440000
2015-05-11  2105.330078  2117.689941  2104.580078  2115.560059  2992670000
2015-05-12  2099.120117  2105.060059  2085.570068  2102.870117  3139520000
2015-05-13  2098.479980  2110.189941  2096.040039  2099.620117  3374260000
2015-05-14  2121.100098  2121.449951  2100.429932  2100.429932  3225740000

In [49]:
dataf = data['Close']['^GSPC']

In [50]:
dataf

Date
2015-05-08    2116.100098
2015-05-11    2105.330078
2015-05-12    2099.120117
2015-05-13    2098.479980
2015-05-14    2121.100098
                 ...
2025-05-01    5604.140137
2025-05-02    5686.669922
2025-05-05    5650.379883
2025-05-06    5606.910156
2025-05-07    5631.279785
Name: ^GSPC, Length: 2515, dtype: float64

In [51]:
dataf.to_csv('real_dataset/S&P500_10years.csv')